*~
.project
**/*.zip
**/.classpath
**/.settings/*sonar*
**/.settings/*m2e.core*
**/.settings/*moreunit*
**/.settings/*.prefs
/target
**/.project
**/.externalToolBuilders/*
org.jabylon.rest.ui/.settings/*
